.indicator {
  position: fixed;
  bottom: 0;
  left:   0;

  padding: 10px;
  background-color: white;
  color: black;
  font-size: 14px;
  z-index: z(modal);

  transition: opacity $g-animation-function $g-animation-duration;

  &:before {
    content: "no @media";

    @each $breakpoint, $name in $g-breakpoints {
      @include breakpoint($breakpoint only) {
        content: '#{$breakpoint} | > #{$name}';
      }
    }
  }

  &:hover {
    opacity: 0;
  }
}