//////////////////////////////////////
// Resources path variables
//////////////////////////////////////

$g-ui:    '../img/ui/' !default;
$g-fonts: '../fonts/' !default;


//////////////////////////////////////
// The greed & Screen sizes
//////////////////////////////////////

$g-max-width: 1600 !default;

$g-grid-column-count:       16;
$grid-column-gutter-small:  40 !default;
$grid-column-gutter-medium: 30 !default;

$g-breakpoints: (
        small:  0,
        medium: 640px,
        large:  1024px,
        xlarge: 1366px
) !default;
$g-breakpoint-classes: (small medium large) !default;

//////////////////////////////////////
// Colors
//////////////////////////////////////

$g-color-white:   #ffffff !default;
$g-color-black:   #000000 !default;
$g-color-active:  #006cff !default;
$g-color-default: #333 !default;


//////////////////////////////////////
// Typography
//////////////////////////////////////

$g-font-family-name:        'Tahoma' !default;
$g-font-family:             $g-font-family-name, sans-serif !default;

$g-font-family-accent-name: 'Helvetica' !default;
$g-font-family-accent:      $g-font-family-accent-name, sans-serif !default;

$g-font-family-serif-name:  'Times New Roman' !default;
$g-font-family-serif:       $g-font-family-serif-name, serif !default;

$g-font-weight-light:  300 !default;
$g-font-weight-normal: 400 !default;
$g-font-weight-bold:   700 !default;


// Base styles
$g-font-size:       16px !default; // Base font size (in px)
$g-lineheight:      1.6875 !default;
$g-text-color:      $g-color-default !default;
$g-font-weight:     $g-font-weight-normal !default;
$g-body-background: $g-color-white !default;

// Paragraph
$g-paragraph-margin-bottom: 26 !default;
$g-paragraph-font-size:     $g-font-size !default;
$g-paragraph-color:         $g-text-color !default;

// Headers
$g-header-margin-bottom: 26 !default;

$g-header-font-family: $g-font-family-serif !default;
$g-header-font-weight: $g-font-weight-normal !default;

$g-h1-font-size: 42px !default;
$g-h2-font-size: 26px !default;
$g-h3-font-size: 20px !default;

$g-header-line-height: 1em !default;

$g-header-color: $g-color-default !default;

$g-h1-medium-ratio: .9 !default;
$g-h1-small-ratio:  .8 !default;

$g-h2-medium-ratio: .9 !default;
$g-h2-small-ratio:  .8 !default;

$g-h3-medium-ratio: .9 !default;
$g-h3-small-ratio:  .8 !default;

// Links
$g-anchor-color:           $g-color-active !default;
$g-anchor-color-hover:     darken($g-color-active, 10) !default;
$g-anchor-text-decoration: none !default;

// Lists
$g-list-style-type:         disc !default;
$g-list-style-position:     inside !default;
$g-list-side-margin:        20 !default;
$g-list-nested-side-margin: 20 !default;


//////////////////////////////////////
// Animation
//////////////////////////////////////

$g-animation-duration:        .3s !default;
$g-animation-duration-medium: $g-animation-duration * 1.5 !default;
$g-animation-function:        ease !default;


//////////////////////////////////////
// Custom mixins & functions
//////////////////////////////////////

// Z-index
$g-z-index-bottomless: -9999 !default;
$g-z-index-default:    1 !default;
$g-z-index-dropdown:   300 !default;
$g-z-index-overlay:    400 !default;
$g-z-index-modal:      401 !default;

// Responsive background image
$g-rbi-image-path:          $g-ui !default;
$g-rbi-image-color:         $g-color-white !default;
$g-rbi-image-extension:     jpg !default;
$g-rbi-min-pixel-ratio:     1.3 !default;
$g-rbi-min-resolution-dpi:  124.8dpi !default;
$g-rbi-min-resolution-dppx: 1.3dppx !default;
$g-rbi-image-hidpi-postfix: '@2x' !default;


//////////////////////////////////////
// section_template
//////////////////////////////////////