@mixin print($declarations) {
  @if $declarations {
    @each $property, $value in $declarations {
      #{$property}: $value
    }
  } @else {
    @error "mixin print: $declarations is not specified";
  }
}