$z-index-config: (
        bottomless-pit: $g-z-index-bottomless,
        default:        $g-z-index-default,
        dropdown:       $g-z-index-dropdown,
        overlay:        $g-z-index-overlay,
        modal:          $g-z-index-modal,
) !default;