@import "z-index-config";

@if variable-exists(z-index-config) == false {
  @error 'mixin z: no config data';
}

@function z($key: default) {
  @if map-has-key($z-index-config, $key) {
    @return map-get($z-index-config, $key);
  }

  @warn "mixin z: unknown '#{$key}' in $z-index-config";
  @return null;
}