@import "responsive-background-image-config";

@if variable-exists(rbi-config) == false {
  @error 'mixin mixin responsive-background-image: no config data';
}

$_rbi-path:                map-get($rbi-config, image-path);
$_rbi-image-color:         map-get($rbi-config, image-color);
$_rbi-extension:           map-get($rbi-config, image-extension);
$_rbi-hidpi-postfix:       map-get($rbi-config, image-hidpi-postfix);
$_rbi-min-pixel-ratio:     map-get($rbi-config, min-pixel-ratio);
$_rbi-min-resolution-dpi:  map-get($rbi-config, min-resolution-dpi);
$_rbi-min-resolution-dppx: map-get($rbi-config, min-resolution-dppx);

@if not (
      $_rbi-path
  and $_rbi-image-color
  and $_rbi-extension
  and $_rbi-hidpi-postfix
  and $_rbi-min-pixel-ratio
  and $_rbi-min-resolution-dpi
  and $_rbi-min-resolution-dppx) {
  @error "mixin responsive-background-image: keys are not found in $responsive-background-image-config";
}

@mixin responsive-background-image(
  $image:            false,
  $background-color: $_rbi-image-color,
  $image-extension:  $_rbi-extension,
  $background-size:  cover,
  $name-postfix:     $_rbi-hidpi-postfix) {

  @if not $image {
    @error "mixin responsive-background-image: $image is not specified";
  }

  background-color: $background-color;
  background-image: url('#{$_rbi-path}#{$image}.#{$image-extension}');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: $background-size;

  @content;

  @media
    (-webkit-min-device-pixel-ratio: $_rbi-min-pixel-ratio),
    (min-resolution: $_rbi-min-resolution-dpi),
    (min-resolution: $_rbi-min-resolution-dppx) {
    background-image: url('#{$_rbi-path}#{$image}#{$name-postfix}.#{$image-extension}');
  }
}