$rbi-config: (
        image-path:          $g-rbi-image-path,
        image-color:         $g-rbi-image-color,
        image-extension:     $g-rbi-image-extension,
        min-pixel-ratio:     $g-rbi-min-pixel-ratio,
        min-resolution-dpi:  $g-rbi-min-resolution-dpi,
        min-resolution-dppx: $g-rbi-min-resolution-dppx,
        image-hidpi-postfix: $g-rbi-image-hidpi-postfix
) !default;