//= templates/header.html


<div class="row">
    <div class="column large-3 medium-8 small-16">
        <h1>Заголовок</h1>
    </div>
    <div class="column large-3 medium-8 small-16">
        <svg style="width: 50px; height: 50px;">
            <use xlink:href="#info"></use>
        </svg>
        <h2>Загловок h2</h2>
    </div>
    <div class="column large-10 medium-16">
        <h1>Заголовок</h1>
        <h2>Загловок h2</h2>
        <h3>Загловок h3</h3>
        <p>Включены колонки, медиа запросы, типографика. Списки стилизированы.</p>
        <p>The power of golden ratio typography cannot be understated. By choosing the line-height of your primary text as your new “baseline unit”, you are effectively tying all the dimensions of your layout together with the golden ratio.</p>
        <ul>
            <li>The amount of whitespace that appears after each paragraph</li>
            <li>Padding, margins, and other units of whitespace throughout the design</li>
            <li>
                Headline line-heights in a given width
                <ul>
                    <li>The amount of whitespace that appears after each paragraph</li>
                    <li>Padding, margins, and other units of whitespace throughout the design</li>
                    <li>Headline line-heights in a given width</li>
                    <li>Any and all spatial properties that you wish to relate mathematically</li>
                </ul>
            </li>
            <li>Any and all spatial properties that you wish to relate mathematically</li>
        </ul>
    </div>
</div>

<div class="indicator"></div>

//= templates/footer.html