@import "import-font-config";

@if variable-exists(import-font-path-config) == false {
  @error 'mixin import-font: no config data';
}

// $name название шрифта, которое будет далее использоваться в стилях
// $file-name название файла со шрифтом
// $weight вес шрифта
// $style начертание шрифта
@mixin import-font($name, $file-name: $name, $weight: normal, $style: normal) {
  @if $name {
    @font-face {
      font-family: $name;
      src:url($import-font-path-config + $file-name + '/' + $file-name + '.woff') format('woff');
      font-weight: $weight;
      font-style: $style;
    }
  } @else {
    @error "mixin import-font: $name is not specified";
  }
}